body {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/621/621873.svg");
  background-repeat: repeat;
  background-size: 100px;
}
#content {
  background-color: rgba(255,255,255,0.5);
}
#content label {
  font-size: 20px;
  font-variant: small-caps;
}

#profileButton {
  position:absolute; top:0; right:0;
}